# whitelist config
# Ignorar todo
*

# Permitir carpetas
!*/

# Permitir archivos importantes
!.gitignore
!README.md


# Permitir código fuente y otros archivos
!*.c
!*.cpp
!*.h
!*.psc
!*.png
!*.pdf

# (Opcional) si usan otros lenguajes
!*.py
!*.java
